    <footer class="footer">
      <small class="footer__text"><b><%= '</>' %></b> with by <b>Matheus Batista</b></small>
    </footer>

    <script src="/assets/js/main-v1.js"></script>
  </body>
</html>