<header class="site-header">
  <div class="wrapper site-header__wrapper">
    <div class="site-header__start">
      <a class="brand">ATALHOS</a>
      <button>LOGIN</button>
    </div>
    <div class="site-header__end">
      <ul class="sub-nav">
        <li class=""><a href="/">CLIENTES</a></li>
        <li class=""><a href="/branch">FILIAIS</a></li>
      </ul>
    </div>
  </div>
</header>